#mapid {
    height: 400px;
}

/* HOME PAGE */

* {
    /* cursor: url("/assets/images/dart-cursor.png"), default; */
}

.navbar {
    background: linear-gradient(to top, transparent, rgba(30, 87, 153, 1) );
}

body {
    background: url("../images/map_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: transparent;
    padding: 60px;
}

.btn {
    max-height: 50px;
}

#globe-button {
    text-align: left;
}

#row0 {
    font-family: 'Saira', sans-serif;
}

#card-header {
    background-color: transparent;
}

#formGroup {
    margin: 20px;
    text-align: center;
}

.randLocCard {
    margin: 10px;
    width: 250px;
    background-color: #e7e7e7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
    margin-top: 20px;
    height: 150px;
    width: 200px;
}
.card {
    border: 0px;
}

#row1 {
    text-align: center;
    align-content: center;
    font-family: 'Saira', sans-serif;
    margin: 20px;
    padding: 20px;
}

#row2 {
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    font-family: 'Saira', sans-serif;
    margin-bottom: 60px;
}

#row3 {
    font-family: 'Saira', sans-serif;
}

.footer {
    margin-top: 55px;
    font-family: 'Saira', sans-serif;
    text-align: center;
}

#contact {
    text-align: center;
    padding: 70px;
    margin-left: 80px;
}

/* SUBMISSION PAGE */

#flight-submit-button {
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
}

/* FAQ PAGE */

#faq {
    font-family: 'Saira', sans-serif;
}

.submission-section {
    font-family: 'Saira', sans-serif;
}