#mapid { height: 400px; }
/* HOME PAGE */

* {
    cursor: url("//assets/images/dart-cursor.png"), default;
  }

.jumbotron {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: white;
    margin-top: -20px;
    margin-bottom: -40px;
}

#globe-button {
    text-align: left;
}

#row0 {
    font-family: 'Saira', sans-serif;
    margin-bottom: 300px;
}

#card-header {
    background-color: white;
    border-color: white;
    margin-top: -20px;
}

.card {
    border: 0px;
}

#globe {
    border-bottom-color: white;
}


#row1 {
    text-align: center;
    align-content: center;
    font-family: 'Saira', sans-serif;
    margin-bottom: 40px;
    
}

#row2 {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    font-family: 'Saira', sans-serif;
    margin-bottom: 60px;
}


#row3 {
    font-family: 'Saira', sans-serif;
}



.footer {
    margin-top: 55px;
    font-family: 'Saira', sans-serif;
    text-align: center;
}

#contact {
    text-align: center;
    padding: 70px;
    margin-left: 80px;
    
}


/* SUBMISSION PAGE */

#flight-submit-button {
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
}


/* FAQ PAGE */

#faq {
    font-family: 'Saira', sans-serif;

}

.submission-section {
    font-family: 'Saira', sans-serif;

}